<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Thank you for scheduling a meeting</h1>

<p>
  You have successfully scheduled a meeting.<br>
</p>

<p>Thanks for scheduling and have a great day!</p>
</body>
</html>